.header {
    background-color: rgb(56, 7, 56);
   
    margin: 0 auto;
    padding: 30px ;

    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header__tittle {
    color: rgb(249, 243, 243);

}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.navbar__link {
    font-size: 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 200;
    color: white;
    margin: 0;

}