.header{
background-color: rgb(56, 7, 56);
display: flex;
flex-direction: column;
align-items: center;

}

.header__tittle{
    color: darkgrey;
    
}

.navbar{

    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 1400px;
    }