.itemList{
    padding: 1o0px;
    margin: 30px;
}

.itemList__tittle{

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 2rem;
}